
#mainContainer {
    display: inline-block;
    min-height: 90vh;
    width: 100%;
    overflow: auto;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    animation: fadeInAnimation ease 1s;
    animation-iteration-count: 1;
    animation-fill-mode: both;

    padding-bottom: 20px;
}
h1{
    margin: auto;
    text-align: center;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 100;
    }
}

.sub-container{
    margin: auto;
    height: 25em;
    width: 45em;

    border-style: dashed;
    border-width: 8px;

    margin-bottom: 5px;

}